ScrollPane {
	
	-fx-max-height: 400px;
	-fx-max-width: 300px;
	-fx-pref-height: 300px;
	-fx-pref-width: 400px;
	
	-fx-padding: 50px, 50px, 50px, 0px;
	
}

TextArea {
	-fx-min-width: 200px;
	-fx-min-height: 50px;
}

Button{
	
}